.DS_STORE
/backend/.DS_STORE
/backend/node_modules
/backend/package-lock.json
/contract-string/.DS_STORE
/contract-string/target
/contract-string/Cargo.lock
/contract-vec/.DS_STORE
/contract-vec/target
/contract-vec/Cargo.lock